<% @blogs.each do |blog| %>
  <div class="row">
    <h5><%= link_to blog.title, "/blogs/#{blog.id}" %></h5>
  </div>
  <div class="row">
    <div class="one column">boom</div>
    <div class="eleven columns">bam</div>
  </div>
<% end %>