/*
 *= require_tree .
 *= require_self
 */

#navbar {
    padding: 15px 0;
    border-bottom: 1px solid #D0D0D0;
}

#navbar h4 {
    display: inline;
    margin: 0;
}

#navbar h4:not(:first-of-type) {
    padding-left: 30px;
}

#navbar h4 a {
    text-decoration: none;
}

#main {
    margin-top: 15px;
}