/*
 *= require_tree .
 *= require_self
 */

#navbar {
    padding: 15px 0;
    border-bottom: 1px solid #D0D0D0;
}

#navbar p {
    display: inline;
    margin: 0;
    font-size: 18px;
    padding-right: 20px;
    a {
        text-decoration: none;
    }
    :not(:first-of-type) {
        padding-left: 30px;
    }
}

#main {
    margin-top: 15px;
}