/*
 *= require_tree .
 *= require_self
 */

#navbar {
    padding: 30px 0;
}

#navbar h4 {
    display: inline;
    margin: 0;
}

#navbar h4:not(:first-of-type) {
    padding-left: 30px;
}

#navbar h4 a {
    text-decoration: none;
}