<!DOCTYPE html>
<html>
    <head>
        <title>Jean</title>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="container" id="navbar">
            <p><a href="/blogs">Blog</a></p>
            <p><a href="/projects">Projects</a></p>
            <p><a href="/about">About</a></p>
            <p class="pull-right">
                <a href="http://www.github.com/jadekler"><i class="fa fa-github"></i></a>
                <a href="http://www.twitter.com/Tyrankh"><i class="fa fa-twitter"></i></a>
                <a href="http://www.linkedin.com/pub/jean-de-klerk/1a/114/59a"><i class="fa fa-linkedin"></i></a>
                <a href="http://stackoverflow.com/users/2255784/user2255784"><i class="fa fa-stack-overflow"></i></a>
                <a href="https://github.com/jadekler/git-go-jeansite">Site Code</a>
            </p>
        </div>
        <div id="main">
            <%= yield %>
        </div>
    </body>
</html>
